# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.xml
*.iml
*.pyc
server/darkflow_2/build/lib.macosx-10.9-x86_64-3.7/darkflow/cython_utils/cy_yolo2_findboxes.cpython-37m-darwin.so
server/darkflow_2/build/lib.macosx-10.9-x86_64-3.7/darkflow/cython_utils/cy_yolo_findboxes.cpython-37m-darwin.so
server/darkflow_2/build/lib.macosx-10.9-x86_64-3.7/darkflow/cython_utils/nms.cpython-37m-darwin.so
server/darkflow_2/build/temp.macosx-10.9-x86_64-3.7/darkflow/cython_utils/cy_yolo2_findboxes.o
server/darkflow_2/build/temp.macosx-10.9-x86_64-3.7/darkflow/cython_utils/cy_yolo_findboxes.o
server/darkflow_2/build/temp.macosx-10.9-x86_64-3.7/darkflow/cython_utils/nms.o
server/darkflow_2/ckpt/checkpoint
server/darkflow_2/ckpt/tiny-yolo-voc-3c-38735.data-00000-of-00001
server/darkflow_2/ckpt/tiny-yolo-voc-3c-38735.index
server/darkflow_2/ckpt/tiny-yolo-voc-3c-38735.meta
server/darkflow_2/ckpt/tiny-yolo-voc-3c-38735.profile
server/darkflow_2/darkflow.egg-info/dependency_links.txt
server/darkflow_2/darkflow.egg-info/PKG-INFO
server/darkflow_2/darkflow.egg-info/SOURCES.txt
server/darkflow_2/darkflow.egg-info/top_level.txt
server/darkflow_2/darkflow/cython_utils/cy_yolo2_findboxes.c
server/darkflow_2/darkflow/cython_utils/cy_yolo2_findboxes.cpython-37m-darwin.so
server/darkflow_2/darkflow/cython_utils/cy_yolo_findboxes.c
server/darkflow_2/darkflow/cython_utils/cy_yolo_findboxes.cpython-37m-darwin.so
server/darkflow_2/darkflow/cython_utils/nms.c
server/darkflow_2/darkflow/cython_utils/nms.cpython-37m-darwin.so
server/darkflow_2/testset/out/3c3b03baa31b06a01e3feccd616cf7d2.jpg
server/recommendation-model/__pycache__/recommendation_model_np.cpython-37.pyc

test.*
__pycache__
*.jpg
