# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
*.xml
*.iml
*.pyc

test.*
__pycache__
*.jpg
*.jpeg

server/darkflow_2/darkflow/cython_utils/nms.cp37-win_amd64.pyd
server/darkflow_2/darkflow/cython_utils/nms.c
server/darkflow_2/darkflow/cython_utils/cy_yolo_findboxes.cp37-win_amd64.pyd
server/darkflow_2/darkflow/cython_utils/cy_yolo_findboxes.c
server/darkflow_2/darkflow/cython_utils/cy_yolo2_findboxes.cp37-win_amd64.pyd
server/darkflow_2/darkflow/cython_utils/cy_yolo2_findboxes.c
server/darkflow_2/build/temp.win-amd64-3.7/Release/darkflow/cython_utils/nms.obj
server/darkflow_2/build/temp.win-amd64-3.7/Release/darkflow/cython_utils/nms.cp37-win_amd64.lib
server/darkflow_2/build/temp.win-amd64-3.7/Release/darkflow/cython_utils/nms.cp37-win_amd64.exp
server/darkflow_2/build/temp.win-amd64-3.7/Release/darkflow/cython_utils/cy_yolo_findboxes.obj
server/darkflow_2/build/temp.win-amd64-3.7/Release/darkflow/cython_utils/cy_yolo_findboxes.cp37-win_amd64.lib
server/darkflow_2/build/temp.win-amd64-3.7/Release/darkflow/cython_utils/cy_yolo_findboxes.cp37-win_amd64.exp
server/darkflow_2/build/temp.win-amd64-3.7/Release/darkflow/cython_utils/cy_yolo2_findboxes.obj
server/darkflow_2/build/temp.win-amd64-3.7/Release/darkflow/cython_utils/cy_yolo2_findboxes.cp37-win_amd64.lib
server/darkflow_2/build/temp.win-amd64-3.7/Release/darkflow/cython_utils/cy_yolo2_findboxes.cp37-win_amd64.exp
server/darkflow_2/build/lib.win-amd64-3.7/darkflow/cython_utils/nms.cp37-win_amd64.pyd
server/darkflow_2/build/lib.win-amd64-3.7/darkflow/cython_utils/cy_yolo_findboxes.cp37-win_amd64.pyd
server/darkflow_2/build/lib.win-amd64-3.7/darkflow/cython_utils/cy_yolo2_findboxes.cp37-win_amd64.pyd
server/darkflow_2/darkflow/cython_utils/nms.cpython-37m-darwin.so
server/darkflow_2/darkflow/cython_utils/cy_yolo_findboxes.cpython-37m-darwin.so
server/darkflow_2/darkflow/cython_utils/cy_yolo2_findboxes.cpython-37m-darwin.so
server/darkflow_2/ckpt/tiny-yolo-voc-3c-38735.profile
server/darkflow_2/ckpt/tiny-yolo-voc-3c-38735.meta
server/darkflow_2/ckpt/tiny-yolo-voc-3c-38735.index
server/darkflow_2/ckpt/tiny-yolo-voc-3c-38735.data-00000-of-00001
server/darkflow_2/ckpt/checkpoint
server/darkflow_2/build/temp.macosx-10.9-x86_64-3.7/darkflow/cython_utils/nms.o
server/darkflow_2/build/temp.macosx-10.9-x86_64-3.7/darkflow/cython_utils/cy_yolo_findboxes.o
server/darkflow_2/build/temp.macosx-10.9-x86_64-3.7/darkflow/cython_utils/cy_yolo2_findboxes.o
server/darkflow_2/build/lib.macosx-10.9-x86_64-3.7/darkflow/cython_utils/nms.cpython-37m-darwin.so
server/darkflow_2/build/lib.macosx-10.9-x86_64-3.7/darkflow/cython_utils/cy_yolo_findboxes.cpython-37m-darwin.so
server/darkflow_2/build/lib.macosx-10.9-x86_64-3.7/darkflow/cython_utils/cy_yolo2_findboxes.cpython-37m-darwin.so
