.register-page-container {
  overflow: hidden;
  position: relative;

  .upload {
    display: flex;
    //flex-direction: column;
    align-items: center;
    //justify-content: center;
    height: 40vh;

    .welcome {
      width: 100vw;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
    }

    .input-file {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    img {
      width: 40vh;
      height: 40vh;
      object-fit: cover;
    }
  }
}

.register-page {
  height: calc(100% - 50px - 40vh);
  overflow: auto;
  background-color: #fbfbfb;

  p {
    height: calc(60vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i {
      margin-bottom: 20px;
    }
  }

  svg {
    position: absolute;
    bottom: 40px;
    right: 40px;
    animation: bot-to-top 2s ease-out;
    filter: drop-shadow(2px 2px 2px crimson);
  }

  @keyframes bot-to-top {
    0% {
      bottom: -40px;
    }
    50% {
      bottom: 40px;
    }
  }
}
