
 
.QnA_Form{

    label{
        font: icon;
    }

    input{
        border-radius: 0.5em;
        width: 10em;
    }
    input::placeholder{
        color: #7e91ae;
        
    }
    button {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width: 270px;
        height: 30px;
        background-color: #95c7ff;
        color: white;
        font-size: 15px;
        border: none;
      }
     #remove{
         display: inline;
         justify-content: center;
         background-color: red;
         align-items: right;

     }
     

}
