.signup-page{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  .signup-container {
    box-sizing: border-box;
    background-color: white;
    width: 350px;
    height: 450px;
    border: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px 0;
    img {
        width: 180px;
        margin-bottom: 30px;
      }
      input {
        width: 270px;
        height: 30px;
        margin-bottom: 15px;
      }
      .select{
        input{
          width:30px;
          height:12px;
        }
        width: 270px;
        height: 30px;
        margin-bottom: 5px;
      }
      button {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        width: 270px;
        height: 30px;
        background-color: #cbe0f8;
        color: white;
        font-size: 15px;
        border: none;
      }
      .error-message {
        height: auto;
        margin-top: 5px;
        font-size: 14px;
        color: red;
      }
    
      .hr-sect {
        display: flex;
        font-size: 13px;
        height: 20px;
        width: 100%;
        margin: 20px 0;
        align-items: center;
        color: rgba(0, 0, 0, 0.35);
    }
  }        
}
