.upload {
  display: flex;
  align-items: center;
  height: 40vh;
  width: 60vw;
  position: relative;

  .welcome {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  img {
    width: 60vw;
    height: 100%;
    max-height: 40vh;
    object-fit: cover;
  }

  .submit-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 60vw;
    position: absolute;
    width: 40vw;
  }
}

#form-wrapper {
  display: flex;
  height: 40vh;
  overflow: hidden;
}