* {
    padding: 0;
    margin: 0;
  }
  
  html,
  body,
  #root {
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  div {
    height: 100%;
  }